.right{
    --right-background:  #110129;
    --right-foreground-midtone: #e60067;
    --right-foreground-highlight: #ffa7ce;
    --right-foreground-shadow: #a21171;
    --right-background-midtone: #312893;
    --right-background-highlight: #4030d1;
    --right-background-shadow: #1d1353;
    --right-text-light: #ffffff;
    background-color: var(--right-background)

}
/* CREATIVE IMAGE HEADER */
.right .content .image{
    object-fit: cover;
    border-bottom: 3rem solid var(--right-background-highlight);
}
.right .content .title{
    
    color: var(--right-background-highlight);
    /* text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24); */
}
.right .content .rightText{
    left: 55%;
}

.right .content .portfolioContent{
    background-color: var(--right-background);
}
@media screen and (max-width: 1095px) {
    .right .content .rightText{
      left: 75%;
    }
}
@media screen and (max-height: 1095px) {
    .right .content .rightText{
        left: 55%;
    }
  }
/* ##################### */

/* PORTFOLIO */

.Rservices{
    color: var(--right-text-light);
}

.Rservices .icons{
    border: 2px solid var(--right-background-highlight);
}
.services .RlineDivider, .works .RlineDivider{
    background-color: var(--right-background-highlight);
}

/* ##################### */
