.left{
    --left-background:  #1a0125;
    --left-foreground-midtone: #e63600;
    --left-foreground-highlight: #ffbca7;
    --left-foreground-shadow: #b30300;
    --left-background-midtone: #d02cff;
    --left-background-highlight: #d02cff;
    --left-background-shadow: #6f008b;
    --left-text-light: #ffffff;

    background-color: var(--left-background);
    
}
.left .content .image{
    object-fit: cover;
    background-size: cover;
    width: 100%;
    border-bottom: 3rem solid var(--left-background-highlight);
}
.left .content .title{
    color: var(--left-background-highlight);
}
.left .content .leftText{
    right: 55%;
}
.left .content .portfolioContent{
    background-color: var(--left-background);
}
@media screen and (max-width: 1095px) {
    .left .content .leftText{
      right: 75%;
    }
}

@media screen and (max-height: 1095px) {
    .left .content .leftText{
        right: 55%;
      }
  }

/* PORTFOLIO */

.Lservices{
    color: var(--left-text-light);
}
.Lservices .icons{
    border: 2px solid var(--left-background-highlight);
}
.services .LlineDivider, .works .LlineDivider,.vlservices .LlineDivider{
    background-color: var(--left-background-highlight);
}
.lightbox{
    display: flex;
    justify-content: center;
}
.lightbox img{
    max-width: 100%;
}

/* ##################### */
