*{
    padding: 0;
    margin: 0;
}
.slideContainer{
    --position: 50vw;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100rem;
    overflow: hidden;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#left{
    z-index: 1;
    width: var(--position) !important;
    
}
.item{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}
.left{
    background-color: red;
}
.right{
    background-color: aliceblue;
}
.item img{
    position: relative;
    height: 100%;
    width: 100%;
}

#slider{
    -webkit-appearance: none;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 50vh;
    /* opacity: 0; */
}
#slider::-webkit-slider-runnable-track {
    height: 0px;
    border: none;
    border-radius: 3px;
}
#slider::-moz-range-thumb{
    height: 0px;
    border: none;
    border-radius: 3px;
}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 10%;
    opacity: 0;
    /* background: goldenrod; */
    transform: translateY(-50%);
}
#slider::-moz-range-thumb{
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 10%;
    opacity: 0;
    /* background: goldenrod; */
    transform: translateY(-50%);
}
.slider-line{
    position: absolute;
    left: var(--position) !important;
    width: .2rem;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    transform: translateX(-50%);
    pointer-events: none;
}
.slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    color: black;
    padding: .5rem;
    border-radius: 100vw;
    top: 50vh;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
    box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
  }